
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   /* ==========================================================================
   fonts
   ========================================================================== */
   
   /* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Lora', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Playfair Display SC', serif;


    font-family: 'Merriweather Sans', sans-serif; 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;


   */

/* ==========================================================================
   Global styles
   ========================================================================== */

/*
red : rgba(237, 20, 91, 1)
light gray blue : rgba(245, 247, 251, 1)
purple: rgba(55, 46, 125, 1)
*/

*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,li,a {
    font-family: 'Montserrat', sans-serif;
}

ol ul{
    list-style-type: disc;
}

.form-control{
    border-radius: 0px;    
}

.quick-contact-section .form-control{
    border-radius: 0px;
    border: 0px;
}

/* .container-fluid{
    margin: 0px;
    padding: 0px;    
} */

/* header.container-fluid, .hero-section ..home.infographic-section .icon-text pcontainer-fluid{
    margin: 0px;
    padding: 0px;    
} */

.same-height{
    height: 250px;
}

.text-break{
    /* word-break: break-all; */
    /* display: inline-block; */
}

.section-heading {
    /* border-bottom: 5px solid yellow; */
    position: relative;
    padding-bottom: 25px;    
}



/* .section-heading::after {
    position: absolute;    
    left: 0px;   
    content: '';
    width: 100%;    
    display: block;   
    border-bottom: 7px solid rgba(55, 46, 125, 1);
} */

.btn-gcpny{
    background: rgba(46,126,233,1);
    /* background: rgba(55, 46, 125, 1); */
    border-color: rgba(55, 46, 125, 1);
    border-radius: 0px;
    padding: 0.375rem 1.25rem;      
}

.btn-gcpny:hover{
    background: #fff;
    color: rgba(55, 46, 125, 1);
}

.grey-bg{
    background: rgba(245, 247, 251, 1);
}

/* .container-width{
    max-width: 1140px;
    margin: 0 auto;
} */

.container-half{
    max-width: 570px;
}

.block{
    display: block;
}

.end-block{
    margin-bottom: 60px;
}

.start-block{
    margin-top: 60px;
}

.middle-block{
    margin-bottom: 30px;
}

p.ul-intro{
    margin-bottom: 0px;
}

/* -----------------------------------------
Header
----------------------------------------- */

h1.logo{
    padding-top:10px;
    /* z-index:2100; */
}	

h1.logo a {
    text-indent:-999%;
    overflow:hidden;
    display:block;
    height:40px;
    /* top: 5px; */
    width: 250px;	
    margin: 0px;
    background: url(../img/logo.png) no-repeat;
    /* border: 1px solid red; */
    background-size: contain;
}


 
 
/* -----------------------------------------
Navigation
----------------------------------------- */	




/* ==========================================================================
Navbar Styles
========================================================================== */


     



/* ==========================================================================
Navbar Styles
========================================================================== */

.navbar{
    height: auto;
    background: white;
    /* border-bottom: 1px solid rgba(55, 46, 125, 1); */
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    padding: .5rem .5rem 0.5rem 1rem;
}

.main-nav .dropdown-menu{    
    left: auto;
    right: 0px;
    box-sizing: border-box;
    border: 0px;
    /* border-top: 15px solid rgba(55, 46, 125, 0.5);
    border-bottom: 15px solid rgba(55, 46, 125, 0.5); */
    -webkit-box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.2);
}

.main-nav .dropdown-menu> a:first-child{
    /* border-top: 5px solid rgba(55, 46, 125, 0.5); */
    /* border-top: 3px solid rgba(36, 26, 57, 1); */
}

.main-nav .dropdown-menu> a:last-child{
    /* border-bottom: 5px solid rgba(55, 46, 125, 0.5); */
}

.dropdown:hover>.dropdown-menu {
    display: block;
    transform: translateY(1px);
}

.navbar-collapse{
    background: white;
}

.navbar a{
    color: rgba(0, 0, 0, 0.6);
    transition: 0.3s all ease-in-out;
}

.navbar-toggler{
    background: grey;
    padding: 0.25rem;
}

.navbar-nav .nav-item{
    padding: 18px 13px 19px 13px;
    /* margin-bottom: 19px; */
    /* border-bottom: 5px solid white; */
}

.main-nav .navbar-toggler-icon .fa{
    line-height: 1.2;
    font-size: 24px;
    color: rgba(39,31,99,1);
}

/* .main-nav .navbar-nav .dropdown-menu{
    display: block;
} */

.navbar-nav .nav-item a{
    color: rgba(39,31,99,1);
    font-weight: 500;
}

.main-nav .nav-item:hover{
    /* background: rgba(55, 46, 125, 0.03); */
    /* border-bottom: 5px solid rgba(55, 46, 125, 1); */
}

.main-nav .nav-item:hover > a{    
    color: rgba(55, 46, 125, 1);
}

.dropdown-menu{
    transform: translateY(50px);
    padding: 0px;
    border-radius: 0px;
    transition: 0.4s transform ease-in-out;
}

.dropdown-item{
    padding: 10px 20px;
}

.nav-padding1 .dropdown-item{
    padding: 10px 20px 10px 25px;
}

.nav-padding2 .dropdown-item{
    padding: 10px 20px 10px 35px;
}

.nav-padding3 .dropdown-item{
    padding: 10px 20px 10px 25px;
}

/* .dropdown-item:nth-child(even){
    background: rgba(127, 111, 172, 0.1);
} */

.nav-item.dropdown{
    border-bottom: 3px solid white              ;
}

.nav-item.dropdown:hover{
    border-bottom: 3px solid rgba(36, 26, 57, 1);
}

.dropdown-toggle::after{
    display: none;
}

.child-nav{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50;
    /* background: rgba(55, 46, 125, 1); */
    background: rgba(0, 0, 0, 0.3);    
    padding: 0px 20px;
    transition: 0.4s all ease-in-out;
}

.child-nav-sec{
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 5px 5px 5px;
}

.child-nav-sec li a{
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}

.child-nav-sec li a:hover{
    color: rgba(255, 255, 255, 1);
}

.child-nav.show{
    background: rgba(55, 46, 125, 1);
    /* -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5); */
    /* border-bottom: 1px solid rgba(55, 46, 125, 1); */
}

.child-nav li{
    display: inline;
    color: white;
}

.child-nav li a{
    color: rgba(255, 255, 255, 0.8);
}

/* .child-nav.show li a{
    color: rgb(51, 51, 51);
} */

.child-nav .nav-item:hover a{
    /* color: rgba(255, 255, 255, 0.6); */
    /* color: rgba(55, 46, 125, 1); */
    color: rgba(255, 255, 255, 1);
}


.navbar-toggler{
    background: none;
}


/* ==========================================================================
Hero Section
========================================================================== */

/*------------------------------------------------------*/


.hero-section{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.2) 80% ),url(../img/home-bg.jpg) no-repeat center center;
    background-size: cover; 
    height: 99vh;    
    color: white;    
}



.hero-section .container-fluid,.hero-section .container, .hero-section .row{
    height: 100%;    
}

.hero-content h2{    
    text-transform: uppercase;
    font-weight: 600;    
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
    letter-spacing: 2px;
    /* -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5); */
    /* text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5); */
}

.hero-content h2 span{
    color: rgba(33,67,113,1);
}

.child .hero-content h2{
    font-size: 55px;
    /* text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2); */
}

.child .hero-section .hero-content h2{
    font-size: 60px;
    margin-left: -4px;
}

.child .hero-section .hero-content h5{
    margin-left: 0px !important;
}

.child .hero-section{
    margin-top: 80px;   
}

.hero-content{
    padding-top: 80px;
    position: relative;
    /* border-bottom: 10px solid rgba(55, 46, 125, 1); */
}

.child .hero-section .hero-content{   
    border: none!important;
}

.hero-content a{
    font-size: 22px;
}

.hero-content ul{
    list-style: none;    
}

.hero-content li{
    display: inline-block;
    padding: 0px 30px;
    font-size: 15px;
}

.child .hero-text{
    position: absolute;
    padding-left: 15px;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
}

.hero-text{
    position: absolute;
    left: 5%;
    top: 30%;
    width: 600px;
    transform: translate(0%, -30%);
}

.child .hero-content .hyphen{
    font-size: 12px;
    line-height: 2.8;
    padding: 0px;
}

.hero-content a{
    color: rgba(215, 215, 215, 1);
    text-decoration: none;
}

.hero-content a:hover{
    color: white;
}

.hero-content .page-nav{
    display: none !important;
}

.hero-content .page-nav li, .hero-content .breadcrumbs li{
    position: relative;   
}

.hero-content .page-nav li:not(:last-child)::after{
    position: absolute;
    content: '';
    display: block;
    right: -5px;
    top: 14px;
    width: 10px;
    height: 5px;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.8); */
}

.hero-content .breadcrumbs li:not(:last-child)::after{
    position: absolute;
    content: '';
    display: block;
    right: -5px;
    top: 9px;
    width: 8px;
    height: 5px;
    /* border-bottom: 1.5px solid rgba(255, 255, 255, 0.8); */
}

.page-nav{
    padding: 0px;
}

.page-nav li:first-child{
    padding-left: 0px;
}

.page-nav li:last-child{
    padding-right: 0px;
}

.breadcrumbs{
    display: none !important;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 10px;
    padding: 5px 5px 5px 20px;
    /* margin-left: 20px; */
    /* background: rgba(0, 0, 0, 0.3); */
}

.breadcrumbs li{
    padding: 0px 15px;    
}

.breadcrumbs li:first-child{
    padding-left: 0px;    
}

.breadcrumbs li a{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs .hyphen{
    font-size: 8px;    
}

.breadcrumbs .hyphen i{
    font-size: 9px;    
}

/* .breadcrumbs li:not(:last-child)::after {
    color: rgba(255, 255, 255, 1);
    font-family: "FontAwesome";
    content: "\f0da";
    margin: 0 0.75rem;
    margin-left: 18px;
    position: relative;
    top: 1px;
    opacity: 1;
} */

.hero-content .breadcrumbs li:not(:last-child)::after{
    position: absolute;
    content: '/';
    display: block;
    right: -5px;
    top: 3px;
    width: 8px;
    height: 5px;
    border-bottom: none;
    color: rgba(255, 255, 255, 0.8);
}

.child .hero-text{
    min-width: 1140px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.child .hero-text a span{
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
}

.child .hero-text a:hover span{    
    color: rgb(177, 177, 177);
}

/*------------------------------------------------------*/





/* .food-hero-section{
    background: linear-gradient( 45deg, rgba(55, 46, 125, 0.6) 0%, rgba(0, 140, 255, 0.5) 100% ),url(../img/pragmatic-bg.jpg) center top no-repeat;
    background-size: cover;
    color: white;
} */

.child-hero-section{
    height: 400px;  
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 100% ),url(../img/food1.jpg) center center no-repeat;
    background-size: cover;
    color: white;
}

.energy-hero-section{     
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 100% ),url(../img/energy-bg.jpg) center center no-repeat;
    background-size: cover;    
}

.rapid-hero-section{
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 100% ),url(../img/rapid-bg.jpg) center center no-repeat;
    background-size: cover;   
}

.operation-hero-section{
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 100% ),url(../img/operation-bg.jpg) center center no-repeat;
    background-size: cover; 
}

.service-hero-section{
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 100% ),url(../img/service-bg.jpg) center center no-repeat;
    background-size: cover; 
}

.proactive-hero-section{
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 100% ),url(../img/proactive-bg.jpg) center center no-repeat;
    background-size: cover; 
}

.sales-hero-section{
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 100% ),url(../img/sales-bg.jpg) center center no-repeat;
    background-size: cover; 
}

.due-hero-section{
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 100% ),url(../img/due-bg.jpg) center center no-repeat;
    background-size: cover; 
}

.bake-hero-section{
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 100% ),url(../img/bake-bg.jpg) center center no-repeat;
    background-size: cover; 
}

.cap-landing-hero-section{
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 100% ),url(../img/cap-landing-bg.jpg) center center no-repeat;
    background-size: cover; 
}

.ind-landing-hero-section{
    background: linear-gradient( 45deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 100% ),url(../img/ind-landing-bg.jpg) center center no-repeat;
    background-size: cover; 
}

.pragmatic-hero-section {
    height: 400px;    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.3) 80% ),url(../img/pragmatic-bg.jpg) no-repeat center center;
    background-size: cover;
}

.about-us-hero-section{
    height: 400px;    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.1) 80% ),url(../img/about-us-bg.jpg) no-repeat center -150px;
    background-size: cover;
}

.about-us-hero-section{
    height: 400px;    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.1) 80% ),url(../img/about-us-bg.jpg) no-repeat center -150px;
    background-size: cover;
}

.about-us-hero-section{
    height: 400px;    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.1) 80% ),url(../img/f7.jpg) no-repeat center -150px;
    background-size: cover;
}

.careers-hero-section{
    height: 400px;    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.1) 80% ),url(../img/career-bg.jpg) no-repeat center -150px;
    background-size: cover;
}

.contact-us-hero-section{
    height: 50vh;    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.1) 80% ),url(../img/about-us-bg.jpg) no-repeat center -150px;
    background-size: cover;
}



/* ==========================================================================
Intro Section
========================================================================== */

.intro-section{
    /* padding: 120px 0px 0px 0px; */
    padding: 50px 0px 0px 0px;
}

.intro-section p, .mini-feature-section p, .intro-section li, .mini-feature-section li, 
.mini-feature-section a{
    font-weight: 500;
}

.intro-section .section-heading h2 a{
    color: rgba(33,37,41,1);
}

.intro-section .section-heading h2 a i{
    color: rgba(55, 46, 125, 1);
    transition: 0.2s all ease-in-out;
    line-height: 1.2;
}

.intro-section .section-heading h2 a:hover{
    color: rgba(55, 46, 125, 1);
    text-decoration: none;
}

.intro-section .section-heading h2 a:hover i{
    transform: translateX(20px);
    text-decoration: none;
}





/* ==========================================================================
Feature Section
========================================================================== */

.feature-section p, .feature-section ul li, .feature-section ol li{
    font-weight: 500;
}



.feature-section{
    padding: 50px 0px;
}

.home .feature-section{
    padding: 80px 0px;
}

.feature-section.case-studies-section h2 {
    color: #212529;
}

.feature-section.infographic-section h2 {
    color: white;
}

.feature-section h2, .mini-feature-section h2, .intro-section h2{
    font-weight: 600;
    color: rgba(33,37,41, 1);
    font-size: 30px;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Montserrat', sans-serif; 
    text-transform: uppercase;
}

a{
    color: grey;
}

a:hover{
    color: rgb(182, 182, 182);
    text-decoration: none;
}

/* .feature-section:nth-child(odd){
    background: rgba(245, 247, 251, 1);
} */



figure.tile{
    position: relative;
    margin: 0px 0px 20px 0px;
}

.industry-feature figure.tile{    
    margin: 20px 7px 20px 7px;
}

.tile > .img::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    bottom: 0;
    right: 0;
    display: block;
    background: #000;
    opacity: 0.2;
}

figure.tile a > figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%,-50%);
    /* background: white; */
    font-family: 'Montserrat', sans-serif;    
    font-size: 19px;
    /* font-family: 'Playfair Display', serif; */
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.3;
    color: #fff;
}

figure.tile> figcaption{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%,-50%);
    /* background: white; */
    font-family: 'Montserrat', sans-serif;    
    font-size: 19px;
    /* font-family: 'Playfair Display', serif; */
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.3;
    color: #fff;
}

.tile{
    /* border: 1px solid rgb(185, 185, 185); */
    margin-bottom: 30px;
    /* background: white;     */
}

.tile-text{
    /* padding: 20px; */
}

.tile h4{
    padding: 20px 10px 0px;
    color: rgb(48, 41, 151);
    text-transform: uppercase;
    font-size: 22px;    
}

.tile h5, .career-section h5{
    /* padding: 10px 10px; */
    font-size: 19px;
    font-weight: 700;    
    text-transform: uppercase;
}

.gotham-info-box h5{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}


.tile-text p{
    padding: 10px 20px 20px;
    font-size: 16px;
}

.tile-text a{
    color: rgba(55, 46, 125, 1);
    margin-top: 5px;
    font-weight: 500;
}

.tile-text a:hover{
    color: rgba(55, 46, 125, 0.6);    
}

.v-tile .tile-text{
    padding: 0px 20px;
}

.v-tile .tile-text p, .v-tile .tile-text h4, .v-tile .tile-text h5{
    padding: 0px;
}

.v-tile .img-box{
    padding: 0px;
    padding-left: 20px; 
}

.mini-feature-section{
    padding: 50px 0px 10px 0px;
}

.list-section.mini-feature-section{
    padding: 5px 0px 30px 10px;
}

.list-section h5{
    font-weight: 600;
}

.proactive .col-md-2 {
    padding: 0 5px;
}

.proactive figure.tile> figcaption{
    font-size: 16px;
}

/* ==========================================================================
Large window Section
========================================================================== */


.large-window {
    height: 640px;
    background-image: url(../images/model2.jpg);
    background-position: center 0px;
    background-repeat: repeat-y;
    background-attachment: fixed;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 50%;
    position: relative; }
    .large-window .window-tint {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0; }
    .large-window .promo-text {
      color: white;
      font-weight: 100;
      font-size: 50px;
      line-height: 1.2; }
      .large-window .promo-text strong {
        display: block;
        font-size: 30px; }
      .large-window .promo-text span {
        font-weight: 300;
        font-size: 18px;
        font-style: italic;
        color: rgba(255, 255, 255, 0.6); }
      .large-window .promo-text .window-cta {
        font-size: 20px;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out; }
        .large-window .promo-text .window-cta:hover {
          background: white;
          color: black; }



/* ==========================================================================
Industry Feature Section
========================================================================== */


 

/* ==========================================================================
Infographic Section
========================================================================== */

/* .infographic-section{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.3) 80% ),url(../img/pragmatic-bg.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    padding: 150px 0px;
} */

.infographic-section{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.3) 80% ),url(../img/pragmatic-bg1.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    padding: 150px 0px;
}

/* .infographic-section{
    background: linear-gradient( 45deg, rgba(55, 46, 125, 0.6) 0%, rgba(0, 140, 255, 0.5) 100% ),url(../img/pragmatic-bg.jpg) center top no-repeat;
    background-size: cover;
    color: white;
} */

.infographic-section h3{
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Playfair Display SC', serif; */
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.home.infographic-section{
    padding: 150px 0px;
}

.home.infographic-section .icon{
    height: 120px;
}

.home.infographic-section .icon svg{
    height: 90px;
}

.home.infographic-section .icon-text{
    margin-bottom: 70px;
    /* max-width: 400px; */
}

.home.infographic-section .icon-text p{
    width: auto;    
    margin-bottom: 0px;
    font-size: 13px;
}

.infographic-section p{
    font-size: 15px;
}

.infographic-section .row{
    margin-bottom: 0px;
}

.info-text{
    max-width: 800px;
    margin: 0 auto;
}

.info-box{
    /* background: rgba(55, 46, 125, 1); */
    background: rgba(255,255,255,0.9);
    color: rgba(55, 46, 125, 1);
    /* max-width: 600px; */
    display: inline-block;
    padding: 10px 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.info-box:last-child{
    margin-bottom: 0px;
}

.info-box h3{
    margin: 0px;
}

.info-icon{
    display: block;
    margin-top: 1;
    width: 140px;
    height: 140px;    
}

.info-icon .icon svg{
    height: 120px;
    width: 120px;
    fill: rgba(46, 171, 123, 1);
    /* color: rgba(55, 46, 125, 1); */
}


/* ==========================================================================
Career Banner Section
========================================================================== */

.career-banner-section{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.1) 80% ),url(../img/career-bg.png) no-repeat center center;
    background-size: cover;
    color: white;
    padding: 150px 0px;
}

.career-banner-section a{
    color: white;
    text-transform: uppercase;    
}

.career-banner-section a:hover{    
    /* color: rgba(55, 46, 125, 1); */
    text-transform: uppercase; 
    text-decoration: none;   
}

.career-banner-icon{
    display: block;
    /* height: 60px;
    width: 60px; */
    margin-bottom: 20px;
    /* border: 2px solid #fff; */
}

.career-banner-icon i{
    font-size: 30px;
}

.apply-links ul{
    padding: 0px;
}

.apply-links li{
    padding: 7px 10px 7px 0px;
    list-style: none;
}

.apply-links a{
    font-weight: 700;
    color: black;
}

/* ==========================================================================
Quick Contact Section
========================================================================== */

.quick-contact-section{
    /* background: rgba(250, 250, 250, 1); */
    background: rgba(90, 162, 174, 1);
    padding: 30px 0px 30px;
}

.quick-contact-section .form-group, .quick-contact-section h4{
    margin: 0px;
}

.quick-contact-section  h4{
    font-size: 18px;
    color: #fff;
}

.quick-contact-section .btn{
    background: rgba(43,82,88,1);
    border: 1px solid grey;
}

.quick-contact-section .btn:hover{
    color: rgb(185, 185, 185);
}

/* ==========================================================================
Capabilities Section
========================================================================== */

.cap-icon{
    display: block;
    width: 100%;
    height: 150px;
    background: rgb(187, 187, 187);
}

.cap-text{
    padding-top: 10px;
}

.capability-section .container{
    max-width: 800px;
}

.child .capability-section .container{
    max-width: 1100px;
}

.more-icon{
    position: relative;
}

.more-icon i{
    position: absolute;
    font-size: 16px;
    top: 2px;
    right: -28px;
    height: 35px;   
}

.cap-landing-section h3, .cap-landing-section h5{
    text-transform: uppercase;
    font-weight: 600;
}

.cap-landing-section a:hover{
    color: rgba(55, 46, 125, 1);
}

/* ==========================================================================
Capability - Operation
========================================================================== */

.operations-table{
    /* background: pink; */
}

.operations-table .table-column{
    width: 180px;
    word-wrap: break-word;
    margin: 0px 10px;
}

.operations-table .row-one{
    display: block;
    height: 70px;
    /* border: 2px solid red; */
    background: rgba(48, 41, 151, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.operations-table .column-one .row-three, .operations-table .column-one .row-two{
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(48, 41, 151, 1);
}

.operations-table .column-one .row-one{
    background: none;
}

.operations-table .row-two{
    height: 250px;
}

.operations-table .row-three{
    height: 250px;
}

.operations-table ul{
    padding: 0px;
}



/* ==========================================================================
Landing Page/ Listing Page
========================================================================== */

.icon-box{
    margin: 10px 30px;
    text-decoration: none;
    position: relative;
}

.cap-ind .icon-box{
    margin: 10px 40px 30px;    
}




.icon-box>a{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;    
}

.icon-box .icon svg{
    height: 120px;  
    width: 120px;
    fill: rgba(33,67,113,1);    
}



.icon-box:hover .icon svg{
    fill: rgba(55, 46, 125, 1);
    /* fill: rgba(46, 171, 123, 1); */
    /* fill: rgba(55, 46, 125, 1); */
    /* fill: rgba(255,151,6,1); */
}

.icon-box:hover .icon-text p{
    text-decoration: none!important;
    /* color: rgba(46, 171, 123, 1); */
    color: rgba(55, 46, 125, 1);
}

.infographic-section .icon{
    background: none!important;
}

.icon.merger-icon{
    background: none;
}

.icon{
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255, 1);
}

.icon.no-bg{
    background: none;
}

/* .child .cap-ind .icon-box{
    margin: 10px 10px 30px;    
} */

/* .child .icon{   
    width: 90px;
    height: 90px;    
}

.child .icon-text p {
    margin-top: 1rem;
    width: 150px;  
    font-size: 14px;
    font-weight: 500;  
}

.child .icon-box .icon svg{
    height: 90px;  
    width: 90px;      
}

.child .icon-box .icon svg{
    height: 90px;  
    width: 90px;      
} */

.icon svg{
    fill: white;
    /* fill: rgba(255,151,6,1); */
}

.icon-text p {
    margin-top: 1rem;
    width: 150px;  
    font-weight: 500;  
}


/* ==========================================================================
Feature Case Section
========================================================================== */

.case-studies-section{
    /* background: rgb(255, 255, 255) !important; */
    /* background: rgba(38,38,38,1) !important; */
    color: #fff;
}

.feature-section.case-studies-section h5{
    color: rgba(100,100,100, 1);
    font-weight: 600;
    font-size: 16px;
}

.feature-section.case-studies-section p{
    color: rgba(100,100,100, 1);
    font-size: 13px;
}

.fig-text {
    padding: 0px 0px 0px 0px;
    text-align: left;
}

.feature-section.case-studies-section a.results-link:hover h5,
.feature-section.case-studies-section a.results-link:hover p{
    color: rgba(55, 46, 125, 1);
}

/* .child .case-studies-section p{
    color: rgba(200,200,200, 1);
} */

.case-studies-section> figcaption{
    font-size: 16px;
}

.child-section.case-studies-section {
    color: #fff;
}

.case-studies-list{
    /* max-width: 1000px; */
    /* margin: 0 auto; */
}

.case-studies-list i{
    color: rgba(55, 46, 125, 1);
}

.case-studies-list h5{
    font-size: 16px;
}

.case-studies-list a{
    color: black;
    display: block;
    text-align: left;
    height: 80px;
    transition: 0.2s all ease-in-out;
}

.case-studies-list a:hover{
    text-decoration: none;   
    color: rgba(45, 24, 207, 1); 
}

.case-studies-list a i{
    font-size: 18px;    
}

.case-studies-list a:hover .list-icon svg{    
    fill: rgba(45, 24, 207, 1); 
    /* fill: rgba(55, 46, 125, 1);     */
}

.list-icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.list-icon i{
    border: 2px solid rgb(37, 37, 37);
    padding: 10px;
    border-radius: 50%;
    color: rgb(37, 37, 37);
}

.template-2{
    max-width: 100%;
    width: 100%;
}

.template-2 .list-icon{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    text-align: center;  
}

.template-2 .list-icon svg{
    height: 90px;
    width: 90px;
}

.template-3 .list-icon{
    height: 50px;
    width: 90px;
}

.template-3 .list-icon svg{
    height: 90px;
    width: 90px;
}

.template-3 .list-icon-wrap{
    height: 70px;
    padding-bottom: 30px;
}

.template-3 h5{
    color: black;
    font-size: 20px;
    margin: 0px;
}

.template-3 h5 span{
    font-size: 15px;
}

.industry-button a{
    padding: 10px 20px;
    border: 1px solid black;
}

.return-button a:hover{
    color: grey;
}

.return-button a{
    color: black;
    font-weight: 700;
}

.career-return{

}

/*-------------------------------------------------------------------------
Testimonial Section
---------------------------------------------------------------------------*/

.feature4{
    /* background: rgba(237, 20, 91, 1); */
    background: linear-gradient(180deg, rgba(55, 46, 125, 0.6) 10%, rgba(55, 46, 125, 0.5) 80% ),url(../img/testimonial-bg.jpg) no-repeat center center;
    background-size: cover;
    color: white;
    padding: 0px 0px 70px;
}

.testimonial-section p{
    padding: 100px 0px 50px;
}

/*hide arrows*/
.slick-prev:before, .slick-next:before{
    display: none;
}

.slick-dots li{
    margin: 0px 15px; 
    left: -20px;/*same as dash width below*/
}

.slick-dots li button:before
{
    /* font-family: "Font Awesome 5 Solid";   */
    content: "" !important;
    border-bottom: 3px solid white;
    font-size: 16px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0px;

    width: 30px;
    height: 20px;

    /* content: '•'; */
    text-align: center;

    opacity: 0.5;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: black;
}





/* ==========================================================================
 Scroll to top Section
========================================================================== */


.scrollToTop {
	width:60px;
	height:60px;
	padding:10px;
	text-align:center;
	background: rgba(255, 255, 255, 0.5);
    font-size: 2em;
	font-weight: bold;
	color: rgba(55, 46, 125, 1);
	text-decoration: none;
	position:fixed;
	bottom:10px;
	right:10px;
	display:none;
    z-index: 200;
    transition: 0.3s all ease-in-out; 
    }
    
.scrollToTop .fas{
    transform: translateY(-3px);
}

.scrollToTop:hover{
    background: rgba(55, 46, 125, 1);
    color: white;
	text-decoration:none;
}












/* ==========================================================================
 Footer Section
========================================================================== */

footer {
    /* border-top: 1px solid rgba(55, 46, 125, 1); */
    width: 100%;
    background: white;
    padding: 50px 0px 0px;
    color: rgba(39,31,99,1);
    font-size: 14px;
}

.footer-col{
    /* padding: 0px; */
    margin-bottom: 40px;
    position: relative;
}

.footer-col-2{
    width: 100%;
    margin-bottom: 20px;
}

.footer-col-2 ul{
    margin: 0px;
}

footer a {
    color: rgba(39,31,99,1);
}

footer ul{
    padding-left: 0px; /*30px*/
}

footer p{
    padding-left: 0px; /*30px*/
    margin-bottom: 0px;
}

footer h6 {
    font-size: 0.9rem; /*1rem*/
    line-height: 1.5;
    margin: 0px;
    /* padding: 3px 0px; */
}

footer li{
    list-style: none;
    /* padding: 3px 0px; */
}

footer li span{
    font-weight: 500;
}

footer li a:hover{
    color: rgba(55, 46, 125, 1);
    text-decoration: none;
}

footer .container-fluid{
    width: 100%;
}

.site-info ul li{
    list-style: none;
    display: inline-block;       
}

.site-info ul li a{
    color: grey;
}

.copy-right{
    margin-bottom: 20px;
}

.social-icons li a .fab{
   font-size: 25px;
   padding: 0px 5px;
}

.social-icons li a .fab:hover{
    color: rgba(55, 46, 125, 1);
 }

ul.list-inline{
    padding-left: 0px; /*30px*/
    margin: 0px; /*remove*/
}

.footer-col{
    /* border-right: 1px solid rgba(0,0,0,.1); */ /*remove*/
}

.social-section {
    border: none;
    margin-top: 10px; /*remove*/
}

footer .logo{
    float: right;
}

footer .logo a {
    text-indent:-999%;
    overflow:hidden;
    display:block;
    height:50px;
    /* top: 5px; */
    width: 340px;	
    margin: 0px 20px 0px;
    background: url(../img/logo.png) no-repeat;
    /* border: 1px solid red; */
    background-size: contain;
}

.footer-about-us p{
    color: rgba(39,31,99,1);
    /* margin-top: 3px; */
}

.footer-about-us p span{
    font-weight: 600;
}

.footer-col .address{
    width: 100%;
}






/* ==========================================================================
Screen above 576px - sm
========================================================================== */
@media screen and (min-width: 576px) {
/* ==========================================================================
Header section
========================================================================== */

h1.logo a {
    width: 335px;
    height:50px;
    margin: 0px 0px 0px 10px;
}

.navbar {
    height: 80px;
    padding: .5rem 1rem;
}

.navbar-toggler {
    padding: .25rem .75rem;
}






/* ==========================================================================
Author's custom styles
========================================================================== */






  /* ==========================================================================
 Footer
 ========================================================================== */



.footer-col-2{
    width: 50%;    
}


}







/* ==========================================================================
Screen above 768px - md
========================================================================== */
@media screen and (min-width: 768px) {
 /* ==========================================================================
 Navigation
 ========================================================================== */


   /* ==========================================================================
Hero Section Section
========================================================================== */


 /* ==========================================================================
About Us Section
========================================================================== */











  /* ==========================================================================
 Footer
 ========================================================================== */




 /* ==========================================================================
 Author's custom styles
 ========================================================================== */



   /* ==========================================================================
 Footer
 ========================================================================== */



.footer-col-2{
    width: auto;    
}






 }



 /* ==========================================================================
Screen above 992px - lg
========================================================================== */
@media screen and (min-width: 992px) {
 /* ==========================================================================
 Author's custom styles
 ========================================================================== */

   /* ==========================================================================
Services Umbrella Section
========================================================================== */

.home.infographic-section .icon-text{
    text-align: left !important;
}

.home.infographic-section .icon-text p{
    width: auto;
    font-size: 15px;
    padding-right: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}



 /* ==========================================================================
 Author's custom styles
 ========================================================================== */

 .home.infographic-section .icon-text {
    margin-bottom: 0px;
    /* max-width: 400px; */
}


 /* ==========================================================================
 Author's custom styles
 ========================================================================== */


   /* ==========================================================================
 Footer
 ========================================================================== */

footer{
    max-width: 1600px;
    margin: 0 auto;
}



.footer-col{
    flex-wrap: nowrap!important;
    /* -ms-flex-pack: distribute!important;
    justify-content: space-around!important; */
}

 .footer-col-2{
    width: auto;  
}

.footer-col .address{
    width: auto;
}



 }





/* ==========================================================================
Author's custom styles
========================================================================== */





/* ==========================================================================
Author's custom styles
========================================================================== */

@media screen and (min-width: 1140px) {
    /* ==========================================================================
    Author's custom styles
    ========================================================================== */
   


/* ==========================================================================
Industry Feature Section
========================================================================== */

.industry-feature .container{
    width: 1000px;
}
 



   
   
   
    /* ==========================================================================
    Author's custom styles
    ========================================================================== */
   
   
   
   
    /* ==========================================================================
    Footer Section
    ========================================================================== */
   
   footer{
       padding: 20px 20px 0px;
   }
   
   
   
    }







    @media screen and (min-width: 1400px) {
    /* ==========================================================================
    Footer Section
    ========================================================================== */

        .footer-about-us{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 35%;
            flex: 0 0 35%;
            max-width: 35%;
        }

        .footer-about-us p{
            padding-right: 10px;
        }

        .footer-nav{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 65%;
            flex: 0 0 65%;
            max-width: 65%;
        }




    }



    
    

    @media screen and (min-width: 1600px) {
        /* ==========================================================================
        Footer Section
        ========================================================================== */
    
            .container-half{
                max-width: 580px;
            }
    
    
    
    
        }







        
    /* ==========================================================================
    CSS for Why Gotham by Lav 24-08-2018 Starts
    ========================================================================== */
.gotham-feature-section h3{ font-size: 19px;
    font-weight: 700;}
.gotham-feature-section.feature-section { padding: 50px 0px 50px;}
.gotham-feature-section p{ font-size: 16px; font-weight: 500;}
.gotham-info-box{ margin-bottom: 30px;}
.gotham-info-box.even{ background:#f5f7fb; padding: 30px 0;}
.gotham-info-content h3{ font-size: 19px;
    font-weight: 700;}
.gotham-info-content p{ font-size: 16px; font-weight: 500; }
.gotham-info-content p:last-child{ margin-bottom: 0;}
.gotham-info-box .gotham-info-image-box img{ width: 100%;}

@media screen and (max-width: 1024px) {
	.gotham-feature-section h3{ font-size: 19px;
        font-weight: 700; margin: 0 0 15px;}
	.gotham-feature-section.feature-section { padding:60px 0px 30px;}
	.gotham-feature-section p{ font-size: 16px; font-weight: 500;}
	.gotham-info-content h3{ font-size: 19px;
        font-weight: 700; margin: 0 0 15px;}
	.gotham-info-content p{ font-size: 16px; font-weight: 500; }
}
@media screen and (max-width:767px) {
	.gotham-feature-section h3{ font-size: 19px;
        font-weight: 700;}
	.gotham-feature-section.feature-section { padding:40px 0px 25px;}
	.gotham-feature-section p{ font-size: 16px; font-weight: 500;}
	.gotham-info-box{ margin-bottom: 25px;}
	.gotham-info-content h3{ font-size: 19px;
        font-weight: 700;}
	.gotham-info-content p{ font-size: 16px; font-weight: 500;}
	.gotham-info-image-box{ margin-top: 25px; text-align: center;}
	.gotham-info-box.even .gotham-info-image-box{ margin-bottom: 25px;}
}

/* ==========================================================================
    CSS for Why Gotham by Lav 24-08-2018 Ends
    ========================================================================== */
