/*
 * Global Styles
 */
.industries-case-study.views-row:nth-child(2n) {
    background: rgba(245, 247, 251, 1);
}

body.taxonomy-term-page .main-content h1{
    display: none;
}
.quick-contact-section .form-control input {
    display: inline;
    /*width: 100%;*/
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.quick-contact-section .form-control{
  background-color:transparent;
}

label.js-form-required.form-required {
    color: white;
    font-weight: 600;
}
#contact_ajax_contact_message_newsletters_form div[role=alert] {
    display: none;
}

div[role=contentinfo]{
    color: #ffffff;
    font-weight: bold;
}

#contact_ajax_contact_message_newsletters_form input.form-email.required.error {
    border: 2px solid red;
}
